
<div id="addressDetailView" class="address">
  <div class="alert alert-danger hide">
    <p data-toggle="i18n" data-key="error"></p>
  </div>
  <div class="popup box middle" style="width: 400px;">
    <form class="text-center form-inline" data-toggle="validator" role="form">
      <h4 id="new_title" class="hide text-left" data-toggle="i18n" data-key="newAddress" style="margin-bottom:20px;"><strong></strong></h4>
      <h4 id="exist_title" class="hide text-left" data-toggle="i18n" data-key="editAddress" style="margin-bottom:20px;"><strong class="guest"></strong><strong class="host" data-i18n="enterKitchenAddress"></strong></h4>

      <fieldset>

        <div class="form-group" role="form">
          <label for="streetInput"><span data-toggle="i18n" data-key="street"></span><span>* </span>:</label>
          <input type="text" onFocus="geolocate()" class="form-control" style="min-width: 250px;" id="streetInput" placeholder="No., Street name" required>
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="cityInput"><span data-toggle="i18n" data-key="city"></span><span>* </span>:</label>
          <input type="text" class="form-control" style="min-width: 250px;" id="cityInput" placeholder="(San Francisco)" required data-error="不能为空" required>
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="postalInput"><span data-toggle="i18n" data-key="zipcode"></span><span>* </span>:</label>
          <input type="text" class="form-control" style="min-width: 250px;" id="postalInput" pattern="^\d{5}(?:[-\s]\d{4})?$" data-toggle="i18n" data-pattern-key="zipcodeBadFormat" data-pattern-error="bad format" placeholder="(zip-code)" required>
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="phoneInput"><span data-toggle="i18n" data-key="phone"></span><span>* </span>:</label>
          <input type="tel" class="form-control" style="min-width: 250px;" id="phoneInput" data-toggle="i18n" data-key="needPhone" data-error="电话格式不对" required>
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group guest" role="form">
          <input id="isDefault" type="checkbox" checked="checked" aria-label="...">
          <label aria-label="..." data-toggle="i18n" data-key="setAsDefault"></label>
        </div>

        <h4></h4>

        <div class="alert alert-danger hide"></div>

        <div class="col-xs-12 form-group" style="margin-top: 10px;">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-danger red round disabled" data-toggle="i18n" data-key="save"></button>
              <button type="button" name="cancel" class="btn btn-disable round" data-toggle="i18n" data-key="cancel"></button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script>
  setup();
  if(!googleAPILoaded){
    jQuery.ajax({
      url: "https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSdr10kQ9xkogbE34AyzwspjaifpaFzA&libraries=places&callback=initAutoComplete",
      dataType: 'script',
      async: true,
      defer : true,
      success : function(){
        googleAPILoaded = true;
      }
    });
  }else{
    initAutoComplete();
  }
</script>
