
<div id="addressDetailView" class="address">
  <div class="alert alert-danger hide">
    <strong>错误！</strong> 地址更新失败，请稍后再试。
  </div>
  <div class="popup box middle" style="width: 400px;">

    <form class="text-center form-inline" id="address-form" role="form">

      <h4 id="new_title" class="hide text-left" style="margin-bottom:20px;"><strong>新建收餐地址...</strong></h4>
      <h4 id="exist_title" class="hide text-left" style="margin-bottom:20px;"><strong class="guest">修改收餐地址</strong><strong class="host">填写准确的厨房地址</strong></h4>

      <fieldset>
        <div class="form-group" role="form">
          <label for="streetInput">地址<span>*</span></label>
          <input type="text" class="form-control" style="min-width: 250px;" id="streetInput" placeholder="No., Street name" required data-error="不能为空">
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="cityInput">城市<span>*</span></label>
          <input type="text" class="form-control" style="min-width: 250px;" id="cityInput" placeholder="(San Francisco)" required data-error="不能为空">
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="zipcodeInput">邮编<span>*</span></label>
          <input type="text" class="form-control" style="min-width: 250px;" id="zipcodeInput" placeholder="(zip-code)" required data-error="邮编格式不对" minLength="5" maxlength="10">
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group" role="form">
          <label for="phoneInput">电话<span>*</span></label>
          <input type="text" class="form-control" style="min-width: 250px;" id="phoneInput" placeholder="＋1(415)888-8888" required data-error="电话格式不对" minLength="10" maxlength="11">
          <div class="help-block with-errors"></div>
        </div>

        <h4></h4>

        <div class="form-group guest" role="form">
          <input id="isDefault" type="checkbox" checked="checked" aria-label="...">
          <label aria-label="...">设置为默认收餐地址</label>
        </div>

        <div class="form-group host" role="form">
          <input id="isDefault" type="checkbox" checked="checked" aria-label="...">
          <label aria-label="...">我同意某些东西</label>
        </div>

        <div class="alert alert-danger hide"></div>

        <div class="col-xs-12 form-group" style="margin-top: 10px;">
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-danger red round disabled">保存</button>
              <button type="button" name="cancel" class="btn btn-disable round">取消</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script>
  $("#address-form").validator({});
</script>
<script src="../../js/bootstrap/bootstrap-formhelpers-min.js"></script>
