
<div id="loginView">
  <div class="alert alert-danger hide">
    <strong>错误！</strong> 邮箱或密码错误.
  </div>
  <div class="popup box middle signin" style="width: 350px;">

    <button id="FBBtn" class="popline btn btn-info btn-lg round blue light" style="margin-left: 15px;">
      <span><i class="fa fa-facebook-f fa" style="padding-right: 15px;"></i>Facebook 账号登录</span>
    </button>

    <h4></h4>

    <button id="GoogleBtn" class="popline btn btn-default btn-lg outline round text-orange" style="margin-left: 15px;">
      <span><i class="fa fa-google-plus fa" style="padding-right: 10px;"></i>Google 账号登录</span>
    </button>

    <h2>邮箱登陆</h2>

    <form id="loginForm" class="text-center" data-toggle="validator" role="form">
      <div class="form-group" data-toggle="validator" role="form">
        <label class="sr-only" for="emailInput">邮箱</label>
        <input type="email" class="form-control" id="emailInput" placeholder="邮箱?" required data-error="邮箱格式不正确">
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="firstnameInput">密码</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="密码?" required>
      </div>

      <div class="form-group">
        <button id="signin-btn" type="submit" class="btn btn-danger btn-lg round red popline">登录</button>
      </div>

    </form>

    <span class="divider popline"></span>

    <h6 class="text-center">新加入？点这里<a toggle="modal" data-target="#myModal" data-href="/templates/user/signup.html" href="javascript:void(0)" onclick="toggleModal(event)">注册</a></h6>
    <h6 class="text-center">忘记密码？<a toggle="modal" data-target="#myModal" data-href="/templates/user/sendEmail.html" href="javascript:void(0)" onclick="toggleModal(event)">点击重置</a></h6>

  </div>
</div>

<script>
  $("#loginView form").validator({});
  new LoginView({model : new Auth(), el: $("#loginView")});
</script>
