<div id="registerView" class="step-container">
  <div class="alert alert-warning hide" data-toggle="i18n" data-key="userRegisterExistError"></div>
  <div id="step1" class="text-center step">
    <div class="popup box middle" style="width: 350px;">
      <h2></h2>

      <button id="FBBtn" class="popline btn btn-blue btn-lg round light">
        <span><i class="fa fa-facebook-f fa" style="padding-right: 15px;"></i>Facebook <span data-toggle="i18n" data-key="login">账号登陆</span></span>
      </button>

      <h4></h4>

      <button id="GoogleBtn" class="popline btn btn-outline-light btn-lg outline round white text-orange">
        <span><img style="width: 30px;height: 30px;margin-right: 15px;display: inline;" src="/images/g-logo.png">Google <span data-toggle="i18n" data-key="login">帐号登陆</span></span>
      </button>

      <h4 class="text-center">
        <small>------------------<span data-toggle="i18n" data-key="or"></span>------------------</small>
      </h4>

      <button class="popline btn btn-lg btn-danger round red light next-step" data-step="1" onclick="nextStep(event)" data-toggle="i18n" data-key="emailRegister">邮箱注册</button>

      <h6 class="text-center" data-toggle="i18n" data-key="registerAgreement"></h6>

      <span class="divider popline"></span>

      <h6><span data-toggle="i18n" data-key="alreadyMember"></span><a toggle="modal" data-target="#myModal" data-href="/templates/user/signin.html" href="javascript:void(0)" onclick="toggleModal(event)"><span data-toggle="i18n" data-key="login"></span></a></h6>
    </div>
  </div>

  <div id="step2" class="text-center hide step" >
    <div class="popup box middle" style="width: 400px;">
      <h3 class="text-center">
        <small><span data-toggle="i18n" data-key="canUser"></span><a href="#" class="last-step" data-step="2" onclick="lastStep(event)">Facebook</a><span data-toggle="i18n" data-key="account"></span><span data-toggle="i18n" data-key="or"></span><a href="#" class="last-step" data-step="2" onclick="lastStep(event)">Google</a><span data-toggle="i18n" data-key="account"></span><span data-toggle="i18n" data-key="register"></span></small>
      </h3>

      <h4 class="text-center">
        <small>------------------<span data-toggle="i18n" data-key="or"></span>------------------</small>
      </h4>

      <form class="text-center" data-toggle="validator" role="form">
        <div class="form-group has-feedback">
          <label class="sr-only" for="lastnameInput" data-toggle="i18n" data-key="lastname"></label>
          <input type="text" pattern="^([A-z\s]{1,15})$" maxlength="15" data-pattern-key="nameRequirement" data-pattern-error="bad format" class="form-control" data-toggle="i18n" id="lastnameInput" placeholder="贵姓 (Lastname)" required>
          <span class="form-control-feedback" aria-hidden="true" style="top: 10px;"></span>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group has-feedback">
          <label class="sr-only" for="firstnameInput" data-toggle="i18n" data-key="firstname"></label>
          <input type="text" pattern="^([A-z\s]{1,15})$" maxlength="15" data-pattern-key="nameRequirement" data-pattern-error="bad format" class="form-control" data-toggle="i18n" id="firstnameInput" placeholder="名字 (Firstname)" required>
          <span class="form-control-feedback" aria-hidden="true" style="top: 10px;"></span>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group has-feedback">
          <label class="sr-only" for="emailInput" data-toggle="i18n" data-key="email"></label>
          <input type="email" class="form-control" id="emailInput" placeholder="邮箱 (Email)" data-toggle="i18n" data-pattern-key="emailBadFormat" data-pattern-error="bad format" required>
          <span class="glyphicon form-control-feedback" aria-hidden="true" style="top: 10px;"></span>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group has-feedback">
          <label class="sr-only" for="passwordInput" data-toggle="i18n" data-key="password"></label>
          <input type="password" pattern="^[_A-z0-9]{8,}$" class="form-control" id="passwordInput" placeholder="密码 (Password)" data-toggle="i18n" data-pattern-key="passwordRequirement" data-pattern-error="bad format" required>
          <span class="form-control-feedback" aria-hidden="true" style="top: 10px;"></span>
          <span class="help-block with-errors"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="sr-only" for="passwordInput" data-toggle="i18n" data-key="password"></label>
          <input type="password" pattern="^[_A-z0-9]{8,}$" class="form-control" id="passwordConfirmInput" data-toggle="i18n" data-pattern-key="passwordRequirement" data-pattern-error="bad format" data-match="#passwordInput" data-match-key="passwordNotMatch" data-match-error="not match" placeholder="请再次输入密码 (password confirm)" required>
          <span class="glyphicon form-control-feedback" aria-hidden="true" style="top: 10px;"></span>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="phoneInput" data-toggle="i18n" data-key="phone"></label>
          <input type="tel" class="form-control" data-minlength="14" id="phoneInput" placeholder="电话 (Phone)" data-toggle="i18n" data-key="needPhone" data-error="need phone" data-pattern-key="phoneNotValid" data-pattern-error="bad format" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="receivedEmailInput" required data-toggle="i18n" data-key="needCheck" data-error="need" >
              <span data-toggle="i18n" data-key="receiveCoupon"></span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="bMonthInput" data-toggle="i18n" data-key="whenBirthday"></label>
          <div>
            <select id="bMonthInput" class="form-control" required>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select id="bDayInput"  class="form-control" required>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
            <select id="bYearInput" class="form-control" required>
              <option>1940</option>
              <option>1941</option>
              <option>1942</option>
              <option>1943</option>
              <option>1944</option>
              <option>1945</option>
              <option>1946</option>
              <option>1947</option>
              <option>1948</option>
              <option>1949</option>
              <option>1950</option>
              <option>1951</option>
              <option>1952</option>
              <option>1953</option>
              <option>1954</option>
              <option>1955</option>
              <option>1956</option>
              <option>1957</option>
              <option>1958</option>
              <option>1959</option>
              <option>1960</option>
              <option>1961</option>
              <option>1962</option>
              <option>1963</option>
              <option>1964</option>
              <option>1965</option>
              <option>1966</option>
              <option>1967</option>
              <option>1968</option>
              <option>1969</option>
              <option>1970</option>
              <option>1971</option>
              <option>1972</option>
              <option>1973</option>
              <option>1974</option>
              <option>1975</option>
              <option>1976</option>
              <option>1977</option>
              <option>1978</option>
              <option>1979</option>
              <option>1980</option>
              <option>1981</option>
              <option>1982</option>
              <option>1983</option>
              <option>1984</option>
              <option>1985</option>
              <option>1986</option>
              <option>1987</option>
              <option>1988</option>
              <option>1989</option>
              <option>1990</option>
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>
              <option>1998</option>
            </select>
          </div>

        </div>
        <div class="form-group">
          <button id="register-btn" type="submit" class="btn btn-danger btn-lg round red popline" data-toggle="i18n" data-key="register"></button>
        </div>
      </form>

      <h6 class="text-center" data-toggle="i18n" data-key="registerAgreement"></h6>
      <span class="divider popline"></span>
      <h6><span data-toggle="i18n" data-key="alreadyMember">已经是我们一员?请点击这里,</span><a toggle="modal" data-target="#myModal" data-href="/templates/user/signin.html" href="javascript:void(0)" onclick="toggleModal(event)" data-toggle="i18n" data-key="login">账号登录</a></h6>

    </div>

  </div>
</div>

<script>
  setup();
  new RegisterView({el : $("#registerView"), model : new Auth()});
</script>
