<div id="loginView" class="card m-auto" style="min-width: 300px;width:100%;">

  <div class="card-body">
    <div class="card-title" style="height: 15px;">
      <button aria-label="close" class="close" onclick="javascript:h.dismissModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-danger d-none">${__('wrongPasswordError')}</div>
    <div class="signin text-center">
      <div class="row">
        <div class="col-12">
          <button id="FBBtn" class="popline btn btn-blue btn-lg light" style="min-width:250px;font-weight: lighter;">
            <span><i class="fab fa-facebook-f pr-3" style="padding-right: 15px;"></i>Facebook ${__('nav-bar-login')}</span>
          </button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <button id="GoogleBtn" class="popline btn btn-google btn-lg text-orange white" style="min-width:250px;font-weight: lighter;">
            <span><i class="fab fa-google pr-3"></i>Google ${__('nav-bar-login')}</span>
          </button>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-12">
          <button id="wechatBtn" class="popline btn btn-green btn-lg text-white" style="min-width:250px;font-weight: lighter;">
            <span><i class="fab fa-weixin" style="padding-right:15px;"></i>${__('wechat')} ${__('nav-bar-login')}</span>
          </button>
        </div>
      </div>

      <div class="divider"></div>
      <h4 class="mb-2">${__('login-with-email')}</h4>

      <form class="text-center" data-toggle="validator" role="form">
        <div class="form-group">
          <label class="sr-only" for="emailInput">${__('email')}</label>
          <input type="email" class="form-control" id="emailInput2" data-pattern-error="${__('invalid-email')}" placeholder="邮箱 (Email)" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="passwordInput" data-toggle="i18n" data-key="password"></label>
          <input type="password" class="form-control" id="passwordInput2" pattern="^[_A-z0-9]{8,}$" data-pattern-error="${__('password-requirement')}" placeholder="密码 (Password)" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <button id="signin-btn" type="submit" class="btn btn-danger btn-lg red popline">${__('nav-bar-login')}</button>
        </div>

      </form>
    </div>
  </div>
  <div class="card-footer">
    <h6 class="text-center">${__('newlyJoin')} <a toggle="modal" data-target="#myModal" data-model="user" data-action="signup" href="javascript:void(0)" onclick="h.toggleModal(event)">${__('nav-bar-register')}</a></h6>
    <h6 class="text-center">${__('forgetPassword')}? <a toggle="modal" data-target="#myModal" data-model="user" data-action="sendEmail" href="javascript:void(0)" onclick="h.toggleModal(event)">${__('reset-password')}</a></h6>
  </div>
</div>

<script src="/assets/vendors~admin~apply~badge~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMeal~ema~3995f8fe.bundle.js"></script>
<script src="/assets/vendors~admin~apply~badge~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMeal~ema~1bb62d84.bundle.js"></script>
<script src="/assets/zh.signin.bundle.js"></script>
