
################################################
###############  .gitignore   ##################
################################################
#
# This file is only relevant if you are using git.
#
# Files which match the splat patterns below will
# be ignored by git.  This keeps random crap and
# sensitive credentials from being uploaded to
# your repository.  It allows you to configure your
# app for your machine without accidentally
# committing settings which will smash the local
# settings of  other developers on your team.
#
# Some reasonable defaults are included below,
# but, of course, you should modify/extend/prune
# to fit your needs!
################################################




################################################
# Local Configuration
#
# Explicitly ignore files which contain:
#
# 1. Sensitive information you'd rather not push to
#    your git repository.
#    e.g., your personal API keys or passwords.
#
# 2. Environment-specific configuration
#    Basically, anything that would be annoying
#    to have to change every time you do a
#    `git pull`
#    e.g., your local development database, or
#    the S3 bucket you're using for file uploads
#    development.
#
################################################

config/local.js





################################################
# Dependencies
#
# When releasing a production app, you may
# consider including your node_modules and
# bower_components directory in your git repo,
# but during development, its best to exclude it,
# since different developers may be working on
# different kernels, where dependencies would
# need to be recompiled anyway.
#
# More on that here about node_modules dir:
# http://www.futurealoof.com/posts/nodemodules-in-git.html
# (credit Mikeal Rogers, @mikeal)
#
# About bower_components dir, you can see this:
# http://addyosmani.com/blog/checking-in-front-end-dependencies/
# (credit Addy Osmani, @addyosmani)
#
################################################

node_modules
/secret
bower_components




################################################
# Sails.js / Waterline / Grunt
#
# Files generated by Sails and Grunt, or related
# tasks and adapters.
################################################
.tmp
dump.rdb





################################################
# Node.js / NPM
#
# Common files generated by Node, NPM, and the
# related ecosystem.
################################################
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

################################################
# Mongodb
#
#
################################################
/data
dump



################################################
# Miscellaneous
#
# Common files generated by text editors,
# operating systems, file systems, etc.
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
*.pem
.env
.icloud



assets/revolution/assets/gridimages/
assets/revolution/assets/videos/
node_modules/@mapbox/geojsonhint/node_modules/readable-stream/lib/
node_modules/ambi/node_modules/typechecker/es2015/fixtures/
node_modules/ambi/node_modules/typechecker/source/fixtures/
node_modules/babel-runtime/core-js/array/
node_modules/babel-runtime/core-js/error/
node_modules/babel-runtime/core-js/json/
node_modules/babel-runtime/core-js/math/
node_modules/babel-runtime/core-js/number/
node_modules/babel-runtime/core-js/object/
node_modules/babel-runtime/core-js/reflect/
node_modules/babel-runtime/core-js/regexp/
node_modules/babel-runtime/core-js/string/
node_modules/babel-runtime/core-js/symbol/
node_modules/babel-runtime/core-js/system/
node_modules/babel-runtime/node_modules/
node_modules/cron/node_modules/
node_modules/extendr/node_modules/typechecker/out/
node_modules/extract-opts/node_modules/typechecker/out/
node_modules/grunt-contrib-less/node_modules/less/projectFilesBackup/
node_modules/is-fullwidth-code-point/node_modules/
node_modules/juice/tmp/
node_modules/lcid/node_modules/
node_modules/messageformat/example/en/sub/
node_modules/messageformat/example/fr/sub/
node_modules/os-locale/node_modules/
node_modules/react-popper/demo/
node_modules/sails-hook-jobs/node_modules/agenda/node_modules/
node_modules/sails-hook-orm/node_modules/anchor/lib/
node_modules/sails-hook-orm/node_modules/bluebird/js/
node_modules/sails-hook-orm/node_modules/switchback/node_modules/
node_modules/sails-hook-orm/node_modules/waterline-criteria/lib/aggregations/
node_modules/sails-hook-orm/node_modules/waterline-criteria/lib/filters/
node_modules/sails-hook-orm/node_modules/waterline-criteria/lib/projections/
node_modules/sails-hook-orm/node_modules/waterline-criteria/node_modules/
node_modules/sails-hook-orm/node_modules/waterline-schema/lib/waterline-schema/
node_modules/sails-hook-orm/node_modules/waterline-schema/test/fixtures/
node_modules/sails-hook-orm/node_modules/waterline/lib/waterline/adapter/ddl/alter/
node_modules/sails-hook-orm/node_modules/waterline/lib/waterline/adapter/sync/strategies/
node_modules/sails-hook-orm/node_modules/waterline/lib/waterline/model/lib/associationMethods/
node_modules/sails-hook-orm/node_modules/waterline/lib/waterline/model/lib/defaultMethods/
node_modules/sails-hook-orm/node_modules/waterline/lib/waterline/model/lib/internalMethods/
node_modules/setimmediate 2/
node_modules/websocket-driver/lib/websocket/driver/hybi/
node_modules/winston/test/fixtures/keys/
*.icloud
node_modules/component-emitter 2/
node_modules/react 2/
node_modules/react-dom 2/dist/
node_modules/react-dom 2/lib/
node_modules/react-dom 2/node_modules/fbjs/
node_modules/react-dom 2/node_modules/prop-types/lib/
node_modules/react-dom 2/node_modules/prop-types/node_modules/loose-envify/
