<!DOCTYPE html>
<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Page Not Found</title>
    <!--<link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>-->
  </head>
  <body>
    <div class="default-container">
      <div class="fourohfour text-center">
        <div class="main">
          <h1>
            <%= __('pageNotFoundError')%><br/>
            <small><%= __('pageNotFoundSubtitle')%></small>
          </h1>
          <div class="row vertical-align">
            <div class="col-xs-5">
              <div class="divider"></div>
            </div>
            <div class="col-xs-2">
              <%= __('today-special')%>
            </div>
            <div class="col-xs-5">
              <div class="divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_1.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=appetizer&type=order'">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_2.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=entree&type=order'">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_3.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=dessert&type=order'">
              </div>
            </div>
          </div>
          <div class="row vertical-align">
            <div class="col-xs-5">
              <div class="divider"></div>
            </div>
            <div class="col-xs-2">
              <%= __('next-week-preorder')%>
            </div>
            <div class="col-xs-5">
              <div class="divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_4.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=appetizer&type=preorder'">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_5.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=entree&type=preorder'">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-email white">
                <img class="cursor-pointer" src="/images/404_6.jpg" style="width: 100%;" onclick="javascript:location.href='/meal/search?keyword=dessert&type=preorder'">
              </div>
            </div>
          </div>
        </div>

        <div class="box-compact text-center">
          <btn class="grey btn-outline cursor-pointer" style="display: inline-block;padding: 5px;" onclick="javascript:location.href='/'">
            <div class="logo-simple"></div>
          </btn>
        </div>
      </div>
    </div>
  </body>
</html>
