<!DOCTYPE html>
<html>
  <head>
    <title>SFMeal Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/admin.css">
    <script src="/assets/vendors~admin~apply~badge~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMeal~hel~cb2357bd.bundle.js"></script>
    <script src="/assets/vendors~admin~apply~badge~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMeal~hel~e9036060.bundle.js"></script>
  </head>

  <body style="min-width: 600px;">

  <%- body %>

  <div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  </body>
</html>
