<link href="/assets/deliveryMap.css" rel="stylesheet">
<div id="deliveryMapContainer" class="w-100 h-100" data-month="<%= month%>" data-day="<%= day%>">
  <div id="googlemap" class="h-100 w-100"></div>
</div>
<div id="placeServiceHelper"></div>

<script src="/assets/vendors~admin~apply~badge~cart~checkout~chefProfile~createDish~createMeal~dayOfMeal~deliveryMap~edit~952e54e5.bundle.js"></script>
<script src="/assets/vendors~admin~apply~badge~cart~checkout~chefProfile~createDish~createMeal~dayOfMeal~deliveryMap~edit~86ec044b.bundle.js"></script>
<script src="/assets/zh.deliveryMap.bundle.js"></script>
