.footer.text-center
  .row
    div.middle(style={width:'386px'})
      div.navbar.navbar-inverse(style={background:'none', border: 'none', 'margin-top': '20px'})
        url.nav.navbar-nav.footer-nav
          li
            a(href='https://www.facebook.com/SFMeal/')
              i.fa.fa-facebook-f.fa-2x
          li
            a(href='javascript:void(0)')
              i.icon-dot.text-red(style={'font-size':'30px'})
          li
            a(href='https://www.instagram.com/sfmeal/')
              i.fa.fa-instagram-f.fa-2x
          li
            a(href='javascript:void(0)')
              i.icon-dot.text-red(style={'font-size': '30px'})
          li
            a(href='https://www.pinterest.com/sfmeal/')
              i.fa.fa-pinterest-f.fa-2x
          li
            a(href='javascript:void(0)')
              i.icon-dot.text-red(style={'font-size': '30px'})
          li
            a(href='https://twitter.com/sfmeal')
              i.fa.fa-twitter-f.fa-2x
          li
            a(href='javascript:void(0)')
              i.icon-dot.text-red(style={'font-size': '30px'})
