<div class="footer text-center">
  <!--<h5></h5>-->
  <div class="row">
    <div class="middle" style="width: 420px;">
      <div class="navbar navbar-inverse" style="background:none;border:none;margin-top: 20px;">
        <ul class="nav navbar-nav footer-nav">
          <li><a href="https://www.facebook.com/SFMeal/"><i class="fa fa-facebook-f fa-2x"></i></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://www.instagram.com/sfmeal/"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://www.pinterest.com/sfmeal/"><i class="fa fa-pinterest-p fa-2x"></i></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://twitter.com/sfmeal"><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <h5><a href="javascript:void(0)" class="text-grey"><%= __('footer-bar-contact')%></a></h5>
  </div>

  <div class="row">
    <h5 class="text-white"> <%= __('footer-bar-info')%></h5>
  </div>

</div>
