<div class="container-fluid footer text-center" style="">
  <h5></h5>
  <div class="row">
    <div class="middle" style="width: 386px;">
      <div class="navbar navbar-inverse" style="background:none;border:none;margin-top: 20px;">
        <ul class="nav navbar-nav">
          <li><a href="#"><i class="fa fa-facebook-f fa-2x"></i></a></li>
          <li><a href="#"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="#"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="#"><i class="fa fa-pinterest-p fa-2x"></i></a></li>
          <li><a href="#"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <h5><a href="#" class="text-grey">Contact Us</a></h5>
  </div>

  <div class="row">
    <h5 class="text-white"> @2015 SFMeal.com - Food Share </h5>
  </div>

</div>
