<!--<div class="navbar navbar-bottom white w-100 position-fixed middle" style="padding:0;bottom: 0;left: 0;z-index: 100;height: 80px;">-->
  <!--<div class="row text-center w-100" style="margin: 0 auto;max-width: 800px;">-->
    <!--&lt;!&ndash;<a href="/" class="col-3 py-3"><i class="fa fa-home"></i><br/><%= __('home')%></a>&ndash;&gt;-->
    <!--<a href="/meal" class="col-4 py-3"><i class="fa fa-list"></i><br/><%= __('category')%></a>-->
    <!--<a href="/cart" class="col-4 py-3"><i class="fa fa-shopping-cart"></i><br/><%= __('cart')%></a>-->
    <!--<a href="/user/me" class="col-4 py-3"><i class="fa fa-user-alt"></i><br/><%= __('me')%></a>-->
  <!--</div>-->
<!--</div>-->

<!--<script>-->
  <!--var pathName = window.location.pathname;-->
  <!--if(pathName.indexOf("meal")!==-1){-->
    <!--$("a[href='/meal']").addClass("active");-->
  <!--}else if(pathName.indexOf("cart")!==-1){-->
    <!--$("a[href='/cart']").addClass("active");-->
  <!--}else if(pathName.indexOf("user")!==-1){-->
    <!--$("a[href='/user/me']").addClass("active");-->
  <!--}-->
<!--</script>-->


