<div class="container-fluid default-container text-center" style="margin-top:-20px;">
  <h3>Hi <%= __('user')%>, 你的朋友 <%= referrer.firstname%> 邀请你加入SFMeal，立即加入来获得10元现金券！</h3>
  <!--<div id="referralCode" class="hidden" data-code="<%= referrer.referralCode%>"></div>-->
</div>
<script>
//  createCookie('referralCode', $("#referralCode").data("code"), 7);
</script>
