<link href="/assets/locatorMap.css" rel="stylesheet">
<div id="locatorMapContainer" class="relative h-100 w-100">
  <div id="googlemap" class="relative h-100 w-100">

  </div>
</div>

<script src="/assets/zh.locatorMap.bundle.js"></script>
