<div style="margin: auto;width: 80%;color: white;text-align: center;">

    <div style="border-radius: 50%;background-color: white;width: 120px;height: 115px;margin: 25px auto 0 auto;">
        <img src="https://sfmeal.s3-us-west-1.amazonaws.com/images/logo.png">
    </div>

    <p class="title" style="font-size: 10vw;margin: 10px auto;">
        <b>Order Online</b>
    </p>
    <p class="subtitle">
        5:30PM - 8:00PM </br>
        Choose our delivery partners
    </p>
    <div class="eat-button"><a href="https://order.online/store/sfmealcom满邻私房菜-1139460" target="_blank"><img width="100%" src="https://sfmeal.s3-us-west-1.amazonaws.com/images/doordash.png" alt="orderonline" ></a></div>
    <div class="eat-button"><a href="https://order.ubereats.com/san-francisco/food-delivery/Sfmeal.com%E6%BB%A1%E9%82%BB%E7%A7%81%E6%88%BF%E8%8F%9C/Y9iSylN7SQ-UHXLm9OQtRQ/?utm_source=web-restaurant-manager" target="_blank"><img width="100%" src="https://sfmeal.s3-us-west-1.amazonaws.com/images/ubereats.png" alt="orderonline" ><img style="display:none" src="https://restaurant.uber.com/tracking?restaurantUUID=63d892ca-537b-490f-941d-72e6f4e42d45" /></a></div>
    <div class="eat-button"><a href="http://menus.fyi/2416285" target="_blank"><img width="100%" src="https://sfmeal.s3-us-west-1.amazonaws.com/images/grubhub.png" alt="orderonline" ></a></div>
    <div class="eat-button"><a href="if(navigator.userAgent.toLowerCase().indexOf('iphone') > -1){ window.location.href = 'https://apps.apple.com/cn/app/hungrypanda/id1119397292'; } if(navigator.userAgent.toLowerCase().indexOf('android') > -1){ window.location.href = 'https://play.google.com/store/apps/details?id=com.hungrypanda.waimai&hl=zh';  }if (!navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|IEMobile)/)) { alert('Please use your phone to open this link.') }"><img width="100%" src="https://sfmeal.s3-us-west-1.amazonaws.com/images/panda.png" alt="preorder"></a></div>
</div>
