
<div id="resetPasswordView">
  <div class="popup box middle signin" style="width: 350px;">
    <h4>重置密码</h4>

    <form id="resetPasswordForm" class="text-center" data-toggle="validator" role="form">
      <div class="form-group">
        <label class="sr-only" for="passwordInput">密码</label>
        <input type="password" data-minLength="6" class="form-control" id="passwordInput" placeholder="密码?" data-error="请输入密码" required>
        <span class="help-block">最少六位数</span>
      </div>

      <div class="form-group">
        <label class="sr-only" for="passwordInput">密码</label>
        <input type="password" data-minLength="6" class="form-control" id="passwordConfirmInput" data-match="#passwordInput" data-error="密码至少6位" data-match-error="密码不匹配" placeholder="密码确认?" required>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg round red popline">确认</button>
      </div>

      <div class="alert alert-success hide">

      </div>

      <div class="alert alert-danger hide">
        <strong>错误！</strong> 密码重置失败，请稍后再试。
      </div>

    </form>
  </div>
</div>

<script>
  $("#resetPasswordView form").validator({});
  new LoginView({model : new Auth(), el: $("#resetPasswordView")});
</script>
