<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .eat-button{
        background-color: white;
        border-radius: 16px;
        margin: 5% auto;
    }
    .eat-button:hover{
        background-color: #00d6b2;
    }
    .subtitle{
        font-size: 5vw;
    }
    @media screen and (min-width: 1000px) {
        .eat-button {
            max-width: 500px;
            border-radius: 32px;
        }
        .title{
            font-size: 5vw !important;
        }
        .subtitle{
            font-size: 2vw !important;
        }
    }
</style>
<body style="background-color: #d60e0e;">
<%- body %>
</body>
</html>
