<link href="/assets/trust.css" rel="stylesheet">
<div class="d-flex justify-content-center pure-banner vertical-align red p-4">
  <div class="cursor-pointer mr-4">
    <a href="/" class="logo" style="left: 0;"></a>
  </div>
  <div>
    <h3 class="text-white text-left none-margin"><strong><%= __('nav-bar-trust')%></strong></h3>
  </div>
</div>

<div class="container container-elegant relative">
  <div class="row pt-5">
    <div class="col text-center">
      <h1>用美食传递家的亲切和温暖。</h1>
    </div>
  </div>
  <div class="divider">-</div>
  <div class="box row">
    <h5>心安, 从用心制作开始。<br/><br/>
      <small class="text-grey">每家米其林抖有自己的标准规范, SFMeal也不例外。我们设立了一系列<a href="/help#trust">标准和期望</a>,诣在确保我们私厨的卫生环境及食品安全, 也让所有用户能够更放心地通过SFMeal平台分享和发现美食。</small>
    </h5>
  </div>
  <div style="margin-left: -15px; margin-right: -15px;">
    <img src="images/trust01.jpg" style="width:100%;"/>
  </div>
  <div class="box py-5">
    <h5>心安, 从我们的标准开始。<br/><br/>
      <small class="text-grey">每家米其林抖有自己的标准规范, SFMeal也不例外。我们设立了一系列<a class="text-red" href="/help#trust">标准和期望</a>,诣在确保我们私厨的卫生环境及食品安全, 也让所有用户能够更放心地通过SFMeal平台分享和发现美食。</small>
    </h5>
  </div>
  <div style="margin-left: -15px; margin-right: -15px;">
    <img src="images/trust02.png" style="width:100%;"/>
  </div>
  <div class="box text-center py-4">
    <div class="row">
      <div class="col-sm-3">
        <div class="card my-1">
          <div class="card-body">
            <i class="fa fa-check fa-2x text-green"></i>
            <p>已验证身份</p>
            <p class="text-grey mb-4">厨师通过扫描官方身份证件并且确认个人信息来验证身份。</p>
            <button class="btn btn-light" onclick="javascript:location.href='/apply#step6'">验证您的身份</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card my-1">
          <div class="card-body">
            <i class="fa fa-check fa-2x text-green"></i>
            <p>食物制作执照</p>
            <p class="text-grey mb-4">厨师通过上传官方发布的食物制作执照, 通过SFMeal的审核, 获得已验证的显示标签。</p>
            <button class="btn btn-light" onclick="javascript:location.href='/host#myinfo'">上传您的食品操作安全证书</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card my-1">
          <div class="card-body">
            <i class="fa fa-check fa-2x text-green"></i>
            <p>菜单点评</p>
            <p class="text-grey mb-4">吃货在点餐前可以看到其他吃货发表的点评, 让您更容易找到符合自己的口味。</p>
            <button class="btn btn-light" onclick="javascript:location.href='/help#review'">了解更多</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card my-1">
          <div class="card-body">
            <i class="fa fa-check fa-2x text-green"></i>
            <p>即时消息</p>
            <p class="text-grey mb-4">厨师和吃货能沟通订单的当前状态, 并收到短信提示, 不同一直守候在电脑旁边。</p>
            <button class="btn btn-light" onclick="javascript:location.href='/help#notification'">即时消息</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-left: -15px; margin-right: -15px;">
    <img src="images/trust03.png" style="width:100%;"/>
  </div>
  <div class="box py-5">
    <h5>安全的平台<br/><br/>
      <small class="text-grey">下单点菜时, 吃货将通过SFMeal支付金额。厨师将会在每周二收到上个星期的订单款项。 所有交易将会得到妥善处理, 因此您需要做的, 只是好好分享/品尝食物。<a class="text-red" href="/help#trust">了解更多</a></small>
    </h5>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <h4 class="card-title">还有疑问?</h4>
      <span>请访问我们的<a class="text-red" href="/help">帮助中心</a>了解更多内容。</span>
    </div>
  </div>
</div>
<script src="/assets/vendors~admin~apply~badge~bank~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMea~6a20c648.bundle.js"></script>
<script src="/assets/vendors~admin~apply~badge~bank~checkout~chefProfile~createDish~createMeal~dayOfMeal~editDish~editMea~a5c6e9d5.bundle.js"></script>
<script src="/assets/zh.trust.bundle.js"></script>
