<div class="container-fluid text-center green" style="margin-top:-20px;">
  <div class="row">
    <div class="compact-banner vertical-align dark">
      <div style="width: 600px;" class="middle banner-text">
        <div class="row vertical-align" style="margin-bottom: 5px;">
          <div class="col-xs-3 cursor-pointer" onclick="location.href='/'">
            <a href="/" class="logo"></a>
          </div>
          <div class="col-xs-9 text-right">
            <button class="btn btn-danger" onclick="location.href='http://www.sfmeal.com'">进入网站</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-larger-simple white relative middle text-left" style="top: -50px;">
    <h4 class="text-green">吃货<b>申请修改</b>订单</h4>
    <p>Hi Aimee,</p>
    <p>Sheng申请修改了他/她的订单,请<a class="text-green" href="http://www.sfmeal.com/host/me">打开订单</a>接受或拒绝</p>
    <div class="divider" style="margin-bottom: 10px;margin-top: 5px"></div>
    <p>订单号: 02727936</p>
    <table class="table">
      <tr>
        <td><img src="/images/dumplings.jpg" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;">阳澄湖边的大闸蟹</td>
        <td style="vertical-align: middle;"><s>2份</s> 4份</td>
        <td style="vertical-align: middle;"><s>$84.34</s> $168.68</td>
      </tr>
      <tr class="border-less">
        <td><img src="/images/dumplings.jpg" style="width: 100px;"></td>
        <td class="text-green" style="vertical-align: middle;">阳澄湖边的大闸蟹</td>
        <td style="vertical-align: middle;"><s>2份</s> 4份</td>
        <td style="vertical-align: middle;"><s>$84.34</s> $168.68</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>订单: <s>$183.00</s> $266.00</td>
      </tr>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td>送餐费: $5.00</td>
      <tr class="border-less">
        <td></td>
        <td></td>
        <td></td>
        <td>总计: <s>$244.5</s> $489.00</td>
      </tr>
      <tr>
        <td>下单时间: 2016-7-4 03:51</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>修改时间: 2016-7-4 04:51</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="text-red">准备时间: 2016-7-4 04:51</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="row text-center">
      <button class="btn btn-green">打开订单</button>
    </div>
  </div>

</div>
