<div class="email-banner vertical-align dark">
  <div style="width: 600px;" class="middle banner-text">
    <div class="row vertical-align" style="margin-bottom: 5px;">
      <div class="col-xs-3 cursor-pointer" onclick="location.href='/'">
        <a href="/" class="logo-remote"></a>
      </div>
      <div class="col-xs-9 text-right">
        <a class="btn btn-red btn-inline" href='http://www.sfmeal.com'>进入网站</a>
      </div>
    </div>
  </div>
</div>

<div class="green" style="padding: 25px;">
  <div class="box-email white relative middle text-left">
    <h4 class="text-green">恭喜!新的预定Meal列表!</h4>
    <p>Hi <%= recipientName%>,</p>
    <p>恭喜你在SFMeal的Meal收到了以下预定订单。</p>
    <h3 class="green"><u>艾米海鲜大杂烩迎国庆</u></h3>
    <p>送餐时间: 2016-7-17 18:00 - 19:00</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>吃货</td>
          <td>订单号</td>
          <td>订单内容</td>
          <td>联系方式</td>
          <td>地址</td>
          <td>备注</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aimbebe</td>
          <td>239123123</td>
          <td>阳澄湖大闸蟹(2),龙虾(4),多宝鱼(2)</td>
          <td>(415)609-2357</td>
          <td>1943 Palou Ave, San Francisco, CA 94124</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <p>取餐时间: 2016-7-17 18:00 - 19:00 取餐地址: 1987 Palou Ave, San Francisco</p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td>吃货</td>
        <td>订单号</td>
        <td>订单内容</td>
        <td>联系方式</td>
        <td>地址</td>
        <td>备注</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Aimbebe</td>
        <td>239123123</td>
        <td>阳澄湖大闸蟹(2),龙虾(4),多宝鱼(2)</td>
        <td>(415)609-2357</td>
        <td>N/A</td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <div class="row text-center">
      <a class="btn btn-green btn-inline" href="http://www.sfmeal.com/host/me#myorder">打印列表</a>
    </div>
  </div>

</div>

<%- include ../email_footer %>
