@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Arvo");
/*
font-family: 'Arial', 'PingFang SC';
*/
/*----------------------------------------------------
	☆indent
----------------------------------------------------*/
.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.top0 {
  margin-top: 0 !important; }

.top5 {
  margin-top: 5px !important; }

.top10 {
  margin-top: 10px !important; }

.top15 {
  margin-top: 15px !important; }

.top20 {
  margin-top: 20px !important; }

.top25 {
  margin-top: 25px !important; }

.top30 {
  margin-top: 30px !important; }

.top35 {
  margin-top: 35px !important; }

.top40 {
  margin-top: 40px !important; }

.btm0 {
  margin-bottom: 0 !important; }

.btm5, .btm05 {
  margin-bottom: 5px !important; }

.btm10 {
  margin-bottom: 10px !important; }

.btm15 {
  margin-bottom: 15px !important; }

.btm20 {
  margin-bottom: 20px !important; }

.btm25 {
  margin-bottom: 25px !important; }

.btm30 {
  margin-bottom: 30px !important; }

.btm35 {
  margin-bottom: 35px !important; }

.btm40 {
  margin-bottom: 40px !important; }

.btm45 {
  margin-bottom: 45px !important; }

.btm50 {
  margin-bottom: 50px !important; }

.btm55 {
  margin-bottom: 55px !important; }

.btm60 {
  margin-bottom: 60px !important; }

.btm65 {
  margin-bottom: 65px !important; }

.btm70 {
  margin-bottom: 70px !important; }

.btm75 {
  margin-bottom: 75px !important; }

.btm80 {
  margin-bottom: 80px !important; }

.btm85 {
  margin-bottom: 85px !important; }

.btm90 {
  margin-bottom: 90px !important; }

.btm95 {
  margin-bottom: 90px !important; }

.pT0 {
  padding-top: 0 !important; }

.pT5 {
  padding-top: 5px !important; }

.pT10 {
  padding-top: 10px !important; }

.pT15 {
  padding-top: 15px !important; }

.pT20 {
  padding-top: 20px !important; }

.pT25 {
  padding-top: 25px !important; }

.pT30 {
  padding-top: 30px !important; }

.pT35 {
  padding-top: 35px !important; }

.pT40 {
  padding-top: 40px !important; }

.pT45 {
  padding-top: 45px !important; }

.pB0 {
  padding-bottom: 0 !important; }

.pB5 {
  padding-bottom: 5px !important; }

.pB10 {
  padding-bottom: 10px !important; }

.pB15 {
  padding-bottom: 15px !important; }

.pB20 {
  padding-bottom: 20px !important; }

.lm5 {
  margin-left: 5px !important; }

.lm10 {
  margin-left: 10px !important; }

.lm15 {
  margin-left: 15px !important; }

.lm20 {
  margin-left: 20px !important; }

.lm50 {
  margin-left: 50px !important; }

.lm60 {
  margin-left: 60px !important; }

.lm70 {
  margin-left: 70px !important; }

.rm5 {
  margin-right: 5px !important; }

.rm10 {
  margin-right: 10px !important; }

.rm15 {
  margin-right: 15px !important; }

.rm20 {
  margin-right: 20px !important; }

.vAT {
  vertical-align: top !important; }

.vAM {
  vertical-align: middle !important; }

.vAB {
  vertical-align: bottom !important; }

.red {
  color: red; }

.blue {
  color: #2a529f; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.icon {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -1px; }

.indent {
  text-indent: 1em; }

.spHide {
  display: block; }

.spDisp {
  display: none; }

.hvBtn, .hvBtns a {
  transition: 0.2s; }

.hvBtn:hover, .hvBtns a:hover {
  opacity: 0.7; }

/*----------------------------------------------------
	☆Width
----------------------------------------------------*/
.w5 {
  width: 5% !important; }

.w10 {
  width: 10% !important; }

.w15 {
  width: 15% !important; }

.w18 {
  width: 18% !important; }

.w20 {
  width: 20% !important; }

.w25 {
  width: 25% !important; }

.w30 {
  width: 30% !important; }

.w35 {
  width: 35% !important; }

.w40 {
  width: 40% !important; }

.w45 {
  width: 45% !important; }

.w49 {
  width: 49% !important; }

.w50 {
  width: 50% !important; }

.w55 {
  width: 55% !important; }

.w60 {
  width: 60% !important; }

.w65 {
  width: 65% !important; }

.w70 {
  width: 70% !important; }

.w75 {
  width: 75% !important; }

.w77 {
  width: 77% !important; }

.w80 {
  width: 80% !important; }

.w85 {
  width: 85% !important; }

.w90 {
  width: 90% !important; }

.w95 {
  width: 95% !important; }

.wfull {
  width: 100% !important; }

.w100 {
  width: 100px; }

.w150 {
  width: 150px; }

.w200 {
  width: 200px; }

.w250 {
  width: 250px; }

.w300 {
  width: 300px; }

.w340 {
  width: 340px; }

.w350 {
  width: 350px; }

.w360 {
  width: 360px; }

.w400 {
  width: 400px; }

.w440 {
  width: 440px; }

.w450 {
  width: 450px; }

.w500 {
  width: 500px; }

.w550 {
  width: 550px; }

.w600 {
  width: 600px; }

/*----------------------------------------------------
	☆fontsize
----------------------------------------------------*/
#contents .size10 {
  font-size: 10px !important;
  font-size: 1rem !important; }

#contents .size11 {
  font-size: 11px !important;
  font-size: 1.1rem !important; }

#contents .size12 {
  font-size: 12px !important;
  font-size: 1.2rem !important; }

#contents .size13 {
  font-size: 13px !important;
  font-size: 1.3rem !important; }

#contents .size14 {
  font-size: 14px !important;
  font-size: 1.4rem !important; }

#contents .size15 {
  font-size: 15px !important;
  font-size: 1.5rem !important; }

#contents .size16 {
  font-size: 16px !important;
  font-size: 1.6rem !important; }

#contents .size17 {
  font-size: 17px !important;
  font-size: 1.7rem !important; }

#contents .size18 {
  font-size: 18px !important;
  font-size: 1.8rem !important; }

#contents .size19 {
  font-size: 19px !important;
  font-size: 1.9rem !important; }

#contents .size20 {
  font-size: 20px !important;
  font-size: 2rem !important; }

#contents .size21 {
  font-size: 21px !important;
  font-size: 2.1rem !important; }

#contents .size22 {
  font-size: 22px !important;
  font-size: 2.2rem !important; }

#contents .size23 {
  font-size: 23px !important;
  font-size: 2.3rem !important; }

#contents .size24 {
  font-size: 24px !important;
  font-size: 2.4rem !important; }

/*----------------------------------------------------
	☆basecompo
----------------------------------------------------*/
section {
  clear: both;
  margin-bottom: 60px; }

section.last {
  margin-bottom: 0; }

img.icon {
  margin-right: 5px;
  vertical-align: middle; }

/*----------------------------------------------------
	☆head
----------------------------------------------------*/
.head01 {
  line-height: 1.4;
  padding: 55px 15px;
  text-align: center; }
  .head01 .ja {
    border-bottom: 2px solid #111;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.15em;
    padding-bottom: 4px; }
  .head01 .en {
    display: block;
    font-family: 'Arial', 'PingFang SC';
    font-size: 60px;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    padding-top: 12px; }

.head01S {
  line-height: 1.4;
  padding: 0 15px 35px;
  text-align: center; }
  .head01S .ja {
    border-bottom: 2px solid #111;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.15em;
    padding-bottom: 4px; }
  .head01S .en {
    display: block;
    font-family: 'Arial', 'PingFang SC';
    font-size: 30px;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    padding-top: 10px; }

.head02 {
  border-bottom: 1px solid #E5E5E5;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin-bottom: 14px;
  padding-bottom: 7px; }

.head02:before {
  content: '●';
  color: #878665;
  display: inline-block; }

.centerHead {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  text-align: center; }

/*----------------------------------------------------
	☆List
----------------------------------------------------*/
#contents .indList {
  margin-bottom: 35px; }

#contents .indList li {
  line-height: 1.7;
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 5px; }

#contents .indList li a {
  display: inline; }

#contents .indList li a:hover {
  text-decoration: none; }

#contents .indListS {
  margin-bottom: 35px; }

#contents .indListS li {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 5px;
  text-indent: -1em;
  padding-left: 1em; }

#contents .indListS li a {
  display: inline; }

#contents .indListS li a:hover {
  text-decoration: none; }

#contents .numList {
  padding-left: 20px;
  margin-bottom: 35px; }

#contents .numList li {
  line-height: 1.7;
  list-style: decimal outside none;
  margin-bottom: 10px; }

#contents .numList li a {
  text-decoration: none; }

#contents .numList li a:hover {
  text-decoration: underline; }

#contents .numListS {
  padding-left: 20px;
  margin-bottom: 35px; }

#contents .numListS li {
  line-height: 1.7;
  list-style: decimal outside none;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 8px; }

#contents .numListS li a {
  text-decoration: none; }

#contents .numListS li a:hover {
  text-decoration: underline; }

#contents ul.iconList {
  margin-bottom: 35px; }

#contents ul.iconList li {
  line-height: 1.7;
  margin-bottom: 10px; }

#contents ul.iconList li a {
  padding: 0 0 3px 20px;
  text-decoration: underline;
  position: relative; }

#contents ul.iconList li a:hover {
  text-decoration: none; }

#contents ul.iconList li.blankIcon a:before {
  content: "\f35d";
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  top: 2px; }

#contents ul.iconList li.pdfIcon a:before {
  content: "\f1c1";
  color: #B6202E;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Font Awesome 5 Free"; }

#contents ul.iconList li.arrowIcon a:before {
  content: "\f105";
  color: #a0a0a0;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: bold;
  height: 5px;
  margin-right: 0.8em;
  vertical-align: middle;
  width: 5px;
  position: absolute;
  top: 6px;
  left: 4px; }

#contents ul.iconList li.exlIcon a:before {
  content: "\f1c3";
  color: #376F17;
  display: inline-block;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  top: 0; }

#contents ul.iconList li.wrdIcon a:before {
  content: "\f1c2";
  color: #2947AA;
  display: inline-block;
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  top: 0; }

#contents ul.circleList {
  margin-bottom: 35px; }

#contents ul.circleList li {
  line-height: 1.7;
  margin-bottom: 7px;
  padding-left: 1.2em;
  vertical-align: top;
  position: relative; }

#contents ul.circleList li a {
  vertical-align: top;
  position: relative; }

#contents ul.circleList li::before {
  content: "●";
  color: #a0a0a0;
  display: inline-block;
  font-size: 10px;
  height: 5px;
  margin-right: 0.8em;
  vertical-align: middle;
  width: 5px;
  position: absolute;
  top: 6px;
  left: 1px; }

#contents ul.arrowList {
  margin-bottom: 35px; }

#contents ul.arrowList li {
  line-height: 1.7;
  margin-bottom: 7px;
  padding-left: 1.4em;
  vertical-align: top;
  position: relative; }

#contents ul.arrowList li a {
  vertical-align: top;
  position: relative; }

#contents ul.arrowList li::before {
  content: "\f105";
  color: #a0a0a0;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: bold;
  height: 5px;
  margin-right: 0.8em;
  vertical-align: middle;
  width: 5px;
  position: absolute;
  top: 6px;
  left: 4px; }

#contents ul.arrow02 li::before {
  content: "\f138";
  color: #63BA00;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: bold;
  height: 5px;
  margin-right: 0.8em;
  vertical-align: middle;
  width: 5px;
  position: absolute;
  top: 3px;
  left: 0; }

#contents dl.arrowDl {
  margin-bottom: 35px; }

#contents dl.arrowDl dt {
  color: #63BA00;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 3px;
  vertical-align: top;
  position: relative; }

#contents dl.arrowDl dt a {
  color: #63BA00; }

#contents dl.arrowDl dd {
  line-height: 1.7;
  margin-bottom: 25px;
  vertical-align: top; }

#contents dl.arrowDl.pattern02 dt {
  color: #252525; }

#contents dl.arrowDl.pattern02 dt a {
  color: #252525; }

#contents .pdf a:before {
  content: "\f1c1";
  color: #B6202E;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px; }

/*----------------------------------------------------
	☆Table
----------------------------------------------------*/
#contents .tbl01 table, #contents table.tbl01 {
  border-collapse: collapse;
  border: 1px solid #FFF;
  width: 100%; }

#contents div.tbl01, #contents table.tbl01 {
  margin-bottom: 30px; }

#contents .tbl01 table th, #contents .tbl01 table td, #contents table.tbl01 th, #contents table.tbl01 td {
  background-color: #F2F2F2;
  border-right: 1px solid #FFF;
  font-weight: normal;
  line-height: 1.8;
  padding: 14px 20px; }

#contents .tbl01 table tr:nth-child(even) th,
#contents .tbl01 table tr:nth-child(even) td,
#contents table.tbl01 tr:nth-child(even) th,
#contents table.tbl01 tr:nth-child(even) td {
  background-color: #EBEBEB; }

#contents .tbl01 table thead th,
#contents table.tbl01 thead th {
  background: #D8D8D8;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500; }

/*----------------------------------------------------
	☆Form
----------------------------------------------------*/
input.textFocus {
  color: #333; }

input.wSS, input.wS, input.wM, input.wL, input.wLL {
  background-color: #FFF;
  border: 1px solid #CCC;
  line-height: 140%;
  padding: 5px 5px; }

input {
  vertical-align: middle; }

.wSS {
  width: 70px; }

.wS {
  width: 90px; }

.wM {
  width: 200px; }

.wL {
  width: 400px; }

.wLL {
  width: 400px; }

.imeOn {
  ime-mode: active; }

.imeOff {
  ime-mode: disabled; }

textarea.txtarea {
  background-color: #FFF;
  border: 1px solid #CCC;
  font-size: 14px;
  height: 160px;
  padding: 5px 5px;
  width: 400px; }

option {
  font-size: 14px !important; }

label {
  cursor: pointer; }

label:hover {
  color: #999; }

input[type="checkbox"], input[type="radio"] {
  margin-right: 3px; }

.formErr {
  color: #E54E52;
  font-weight: bold; }

input.inputErr, textarea.inputErr {
  background-color: #FADFDE; }

/*----------------------------------------------------
	☆serviceSec
----------------------------------------------------*/
.serviceSec {
  background-color: #EAEAEA;
  padding: 75px 15px; }
  .serviceSec ul {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center; }
    .serviceSec ul li {
      display: inline-block;
      padding: 0 2.5%;
      vertical-align: top;
      width: 32%; }
      .serviceSec ul li a {
        display: block;
        text-decoration: none;
        transition: 0.2s; }
        .serviceSec ul li a .img {
          margin-bottom: 20px; }
          .serviceSec ul li a .img img {
            border-radius: 100%;
            height: auto;
            width: 100%;
            transition: 0.2s; }
        .serviceSec ul li a h3 {
          font-size: 30px;
          font-size: 3rem;
          font-weight: normal;
          letter-spacing: 0.2em;
          margin-bottom: 15px; }
      .serviceSec ul li a:hover {
        color: #878665; }
      .serviceSec ul li a:hover .img img {
        box-shadow: 0 0 15px #AAA;
        transform: scale(1.05); }
