<div class="email-banner vertical-align dark">
  <div style="width: 600px;" class="py-4 banner-text">
    <div class="vertical-align">
      <div class="cursor-pointer">
        <a href="http://sfmeal.com" class="logo-remote"></a>
      </div>
      <div>
        <a class="btn btn-danger" href='http://www.sfmeal.com'><%= enterwebsite%></a>
      </div>
    </div>
  </div>
</div>
