<div class="email-footer text-center">
  <!--<h5></h5>-->
  <div class="row">
    <div class="middle" style="width: 386px;">
      <div class="nav-email navbar-inverse" style="background:none;border:none;padding-top:10px;">
        <ul class="nav navbar-nav footer-nav">
          <li><a href="https://www.facebook.com/SFMeal/" class="fa-facebook-remote"></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://www.instagram.com/sfmeal/" class="fa-instagram-remote"></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://www.pinterest.com/sfmeal/" class="fa-pinterest-remote"></a></li>
          <li><a href="javascript:void(0)"><i class="icon-dot text-red" style="font-size: 30px;"></i></a> </li>
          <li><a href="https://twitter.com/sfmeal" class="fa-twitter-remote"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <p>Copyright © 2016 SFMeal.com. All rights reserved</p>
  <p><%= footersendby%><u>admin@sfmeal.com</u></p>

</div>
