
<div id="addressDetailView" class="address">
  <div class="alert alert-danger d-none">
    <p>${__('error')}</p>
  </div>
  <div class="popup box middle">
    <form data-toggle="validator" role="form">
      <h4 id="new_title" class="d-none text-left" style="margin-bottom:20px;"><strong>${__("newAddress")}</strong></h4>
      <h4 id="exist_title" class="d-none text-left" style="margin-bottom:20px;"><strong class="guest"></strong>${__('editAddress')}<strong class="host">${__('enterKitchenAddress')}</strong></h4>

      <div class="form-group" role="form">
        <label for="nameInput">${__('name')}<span> * </span>:</label>
        <input type="text" class="form-control" id="nameInput" placeholder="姓名" data-error="${__('cannot-empty')}" required>
        <div class="help-block with-errors text-red"></div>
      </div>

      <div class="form-group" role="form">
        <label for="streetInput">${__('street')}<span> * </span>:</label>
        <input type="text" class="form-control" id="streetInput" placeholder="No., Street name" data-error="${__('cannot-empty')}" required>
        <div class="help-block with-errors text-red"></div>
      </div>

      <div class="form-group" role="form">
        <label for="cityInput">${__('city')}<span> * </span>:</label>
        <input type="text" class="form-control" id="cityInput" placeholder="(San Francisco)" required data-error="${__('cannot-empty')}" required>
        <div class="help-block with-errors text-red"></div>
      </div>

      <div class="form-group" role="form">
        <label for="postalInput">${__('zipcode')}<span> * </span>:</label>
        <input type="text" class="form-control" id="postalInput" data-error="${__('cannot-empty')}" placeholder="(zip-code)" required>
        <div class="help-block with-errors text-red"></div>
      </div>

      <div class="form-group" role="form">
        <label for="phoneInput">${__('phone')}<span>* </span>:</label>
        <input type="tel" class="form-control" id="phoneInput" data-error="${__('needPhone')}" required>
        <div class="help-block with-errors text-red"></div>
      </div>

      <div class="form-group guest" role="form">
        <input id="isDefault" type="checkbox" checked="checked" aria-label="...">
        <label aria-label="...">${__('setAsDefault')}</label>
      </div>

      <div class="alert alert-danger d-none"></div>

      <div class="col-12 form-group mt-2">
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-danger red" data-loading-text="Saving">${__('save')}</button>
            <button type="button" name="cancel" class="btn btn-disable">${__('cancel')}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  appObj.utility.initAutoComplete();
  appObj.setupObj.setupValidator();
  appObj.setupObj.setupInputMask();
</script>
