/* Scss Document */
@media only screen and (max-width: 1100px) {
  #gNav ul li a span {
    font-size: 14px; }

  #containerHd .chBtns ul li a {
    padding-right: 10px;
    padding-left: 10px; }

  #containerHd .chBtns ul li a:after {
    display: none; } }
@media only screen and (max-width: 960px) {
  .spHide {
    display: none; }

  .spDisp {
    display: block; }

  #header {
    left: -107px; }

  #container {
    margin-left: 0;
    padding-top: 80px; }

  #containerHd {
    display: none; }

  #spHeader {
    opacity: 1;
    top: 0; }

  #contents {
    padding-bottom: 30px; }

  p {
    line-height: 1.7; }

  #footer .logo {
    margin-bottom: 20px;
    text-align: center; }
    #footer .logo img {
      width: 90px; }
  #footer .chBtns {
    margin-bottom: 25px; }
    #footer .chBtns ul {
      max-width: 200px;
      margin: 0 auto; }
      #footer .chBtns ul li {
        display: block;
        margin: 0 0 10px;
        text-align: left; }
        #footer .chBtns ul li a {
          cursor: pointer;
          display: block;
          font-size: 12px;
          position: relative;
          overflow: hidden; }
        #footer .chBtns ul li span {
          background-color: #111;
          display: inline;
          position: relative;
          padding-right: 10px;
          z-index: 10; }
      #footer .chBtns ul li a:before {
        margin: -5px 10px 0 0; }
      #footer .chBtns ul li a:after {
        background-color: #AAA;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        height: 1px;
        width: 14vw;
        position: absolute;
        top: 50%;
        right: 0; }
      #footer .chBtns ul li:first-child a:after {
        width: 14vw; }
  #footer .ftNav {
    padding: 10px; }
    #footer .ftNav ul li {
      display: inline-block;
      font-family: 'Arial', 'PingFang SC';
      font-size: 12px;
      letter-spacing: 0.08em;
      margin: 0; }
      #footer .ftNav ul li a {
        padding: 10px 10px; }
  #footer .ftSns {
    padding: 25px 20px 35px; }
    #footer .ftSns ul li {
      font-size: 24px; }
  #footer small {
    font-size: 1.2rem; }

  #mega {
    display: none; }

  .spLeft {
    text-align: left !important; }

  .head01 {
    line-height: 1.2;
    padding: 0 0 30px; }
    .head01 .ja {
      font-size: 12px;
      font-size: 1.2rem; }
    .head01 .en {
      font-size: 30px;
      font-size: 3rem;
      padding-top: 15px; }

  .head01S {
    line-height: 1.2;
    padding: 0 0 30px; }
    .head01S .ja {
      font-size: 12px;
      font-size: 1.2rem; }
    .head01S .en {
      font-size: 24px;
      font-size: 2.4rem;
      padding-top: 15px; }

  .head02 {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding-bottom: 10px; }

  .head02:before {
    color: #878665;
    display: inline-block; }

  .centerHead {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 15px; }

  #contents div.tbl01, #contents table.tbl01 {
    margin-bottom: 20px; }

  #contents .tbl01 table th, #contents .tbl01 table td, #contents table.tbl01 th, #contents table.tbl01 td {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 12px 10px; }

  #contents .tbl01 table th,
  #contents table.tbl01 th {
    font-weight: 500; }

  .serviceSec {
    padding: 35px 15px; }
    .serviceSec ul {
      text-align: left; }
      .serviceSec ul li {
        display: block;
        margin-bottom: 10px;
        padding: 0;
        width: auto; }
        .serviceSec ul li a {
          display: table;
          width: 100%; }
          .serviceSec ul li a .img {
            margin-bottom: 0;
            padding: 5px 10px 5px 15px;
            display: table-cell;
            vertical-align: middle;
            width: 35%; }
          .serviceSec ul li a .data {
            display: table-cell;
            padding: 0  0 0 10px;
            vertical-align: middle; }
            .serviceSec ul li a .data h3 {
              font-size: 18px;
              font-size: 1.8rem;
              font-weight: 500;
              margin-bottom: 10px; } }
