/* Scss Document */
.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

.hover,
.hover a {
  line-height: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 10; }

.hover a:hover,
.hover:hover {
  -webkit-box-shadow: 0 0 20px #AAA;
  box-shadow: 0 0 20px #AAA;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02); }

#spHeader ul{
  margin : 0;
}

.topMv {
  /*height: calc(100vh - 50px);*/
  padding: 20px 90px 20px 36px;
  position: relative; }
  .topMv .mvArea {
    max-width: 1500px;
    position: relative; }
    .topMv .mvArea #mvSlickSp {
      display: none; }
    .topMv .mvArea #mvSlick {
      margin-bottom: 0; }
    .topMv .mvArea img {
      height: auto;
      width: 100%; }
    .topMv .mvArea article {
      width: 420px;
      position: absolute;
      bottom: -65px;
      left: 0; }
      .topMv .mvArea article a {
        background-color: #FFF;
        border-bottom: 2px solid #111;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        text-decoration: none;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        .topMv .mvArea article a .img {
          height: 140px;
          width: 140px; }
        .topMv .mvArea article a dl {
          width: calc(100% - 140px); }
          .topMv .mvArea article a dl dt {
            background-color: #111;
            color: #C1BEA3;
            font-family: 'Arial', 'PingFang SC';
            font-size: 12px;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 0.08em;
            line-height: 1;
            padding: 18px 20px;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s; }
          .topMv .mvArea article a dl dd {
            font-size: 13px;
            font-size: 1.3rem;
            line-height: 1.4;
            padding: 15px 20px;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
      .topMv .mvArea article a:hover {
        -webkit-box-shadow: 0 0 20px #AAA;
        box-shadow: 0 0 20px #AAA;
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02); }
    .topMv .mvArea #topMvSns {
      font-family: 'Lato', serif;
      font-size: 11px;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: -55px;
      text-orientation: sideways;
      /*-webkit-writing-mode: vertical-rl;*/
      -ms-writing-mode: tb-rl;
      /*writing-mode: vertical-rl; */
    }
      .topMv .mvArea #topMvSns a {
        display: inline-block;
        margin-bottom: 20px;
        text-decoration: none;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      .topMv .mvArea #topMvSns a:hover {
        color: #878665; }
    .topMv .mvArea #topMvUtility {
      font-family: 'Lato', serif;
      font-size: 11px;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      right: -55px;
      text-orientation: sideways;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; }
      .topMv .mvArea #topMvUtility a {
        display: inline-block;
        margin: 10px 0;
        text-decoration: none;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      .topMv .mvArea #topMvUtility a:hover {
        color: #878665; }
    .topMv .mvArea #topMvScroll {
      font-family: 'Arial', 'PingFang SC';
      font-size: 11px;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: -55px;
      text-orientation: sideways;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; }
    .topMv .mvArea #topMvScroll:after {
      background-color: #555;
      content: '';
      display: inline-block;
      margin-top: 10px;
      margin-left: 2px;
      height: 140px;
      width: 1px; }
    .topMv .mvArea #topMvScroll:before {
      background-color: #CCC;
      content: '';
      display: inline-block;
      margin-top: 10px;
      height: 50px;
      width: 1px;
      position: absolute;
      left: 8px;
      bottom: 0; }
    .topMv .mvArea small {
      color: #AAA;
      font-family: 'Lato';
      font-size: 10px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.15em;
      position: absolute;
      bottom: -40px;
      right: 0; }
  .topMv .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .topMv .slick-dots {
    bottom: auto;
    top: -40px;
    text-align: left; }
    .topMv .slick-dots li {
      width: 10px;
      margin: 0 5px; }
      .topMv .slick-dots li button::before {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
    .topMv .slick-dots li:hover button::before {
      color: #878665; }
    .topMv .slick-dots li.slick-active button::before {
      font-size: 14px;
      color: #878665; }

.topMessage {
  margin: 0 100px;
  max-width: 1500px;
  padding: 0 0 150px; }
  .topMessage .topMessageInr {
    padding-left: 60px;
    position: relative; }
    .topMessage .topMessageInr .youCan {
      color: #E8E8E8;
      font-family: 'Arial', 'PingFang SC';
      font-size: 90px;
      font-size: 9rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      line-height: 1.1;
      padding: 0 0 30px 230px;
      text-transform: uppercase; }
    .topMessage .topMessageInr .dataArea {
      background-color: #E6E5DB;
      padding: 65px 50px 130px;
      position: relative; }
      .topMessage .topMessageInr .dataArea .select {
        font-size: 60px;
        font-size: 6rem;
        font-weight: 500;
        letter-spacing: 0.3em;
        line-height: 1.2;
        text-transform: uppercase;
        position: absolute;
        top: -170px;
        left: 20px; }
        .topMessage .topMessageInr .dataArea .select span {
          display: block;
          font-family: 'Arial', 'PingFang SC';
          font-size: 120px;
          font-size: 12rem;
          font-weight: bold;
          letter-spacing: 0.1em; }
      .topMessage .topMessageInr .dataArea .line {
        margin-bottom: 30px; }
        .topMessage .topMessageInr .dataArea .line em {
          display: block; }
        .topMessage .topMessageInr .dataArea .line span {
          background-color: #111;
          color: #FFF;
          display: inline-block;
          font-size: 26px;
          font-size: 2.6rem;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0.22em;
          line-height: 1;
          margin-bottom: 10px;
          padding: 10px 15px;
          text-transform: uppercase; }
      .topMessage .topMessageInr .dataArea .desc {
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 2; }
      .topMessage .topMessageInr .dataArea .btn {
        position: absolute;
        bottom: -45px;
        right: 340px; }
    .topMessage .topMessageInr .img {
      position: absolute;
      bottom: -45px;
      right: 0;
      z-index: 10; }
    .topMessage .topMessageInr .messageP {
      color: #BBB;
      font-family: 'Arial', 'PingFang SC';
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-orientation: sideways;
      text-transform: uppercase;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      left: 0; }

.topHead {
  line-height: 1.4;
  padding: 75px 15px;
  text-align: center; }
  .topHead .ja {
    border-bottom: 2px solid #111;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15em;
    padding-bottom: 4px; }
  .topHead .en {
    display: block;
    font-family: 'Arial', 'PingFang SC';
    font-size: 90px;
    font-size: 9rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    padding-top: 20px; }

.topPlan {
  background-color: #F7F7F7;
  margin-bottom: 0; }
  .topPlan .planBoxWrap .planBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .topPlan .planBoxWrap .planBox .img {
      width: 50%;
      min-height: 600px; }
    .topPlan .planBoxWrap .planBox .data {
      width: 50%;
      display: table;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      min-height: 600px; }
      .topPlan .planBoxWrap .planBox .data .cell {
        display: table-cell;
        padding: 45px;
        height: 600px;
        vertical-align: middle; }
        .topPlan .planBoxWrap .planBox .data .cell h3 {
          color: #FFF;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: 0.15em;
          margin-bottom: 25px; }
          .topPlan .planBoxWrap .planBox .data .cell h3 .copy {
            display: block;
            font-size: 20px;
            font-size: 2rem;
            margin-bottom: 35px; }
            .topPlan .planBoxWrap .planBox .data .cell h3 .copy span {
              border-bottom: 2px solid #FFF;
              padding-bottom: 6px; }
          .topPlan .planBoxWrap .planBox .data .cell h3 .ja {
            font-size: 60px;
            font-size: 6rem;
            letter-spacing: 0.2em;
            position: relative; }
          .topPlan .planBoxWrap .planBox .data .cell h3 .ja:before {
            display: block;
            position: absolute;
            top: -20px; }
          .topPlan .planBoxWrap .planBox .data .cell h3 .en {
            color: rgba(238, 236, 174, 0.4);
            font-family: 'Arial', 'PingFang SC';
            font-size: 26px;
            font-size: 2.6rem; }
        .topPlan .planBoxWrap .planBox .data .cell ul.tag {
          margin-bottom: 25px; }
          .topPlan .planBoxWrap .planBox .data .cell ul.tag li {
            background-color: #111;
            border-radius: 20px;
            color: #FFF;
            display: inline-block;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 1;
            margin: 0 1px 7px;
            padding: 10px 18px 8px; }
        .topPlan .planBoxWrap .planBox .data .cell p.desc {
          color: #FFF;
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 2;
          margin-bottom: 30px; }
        .topPlan .planBoxWrap .planBox .data .cell p.btn {
          margin: 0 auto;
          width: 22vw; }
          .topPlan .planBoxWrap .planBox .data .cell p.btn img {
            height: auto;
            width: 100%;
            max-width: 400px; }
  .topPlan .planBoxWrap .planBox.hokende {
    background-color: #998D67; }
    .topPlan .planBoxWrap .planBox.hokende .img {
      background: url(/images/img_plan_01.png) center center no-repeat;
      background-size: cover; }
    .topPlan .planBoxWrap .planBox.hokende .ja:before {
      background-size: cover;
      content: '';
      height: 40px;
      width: 71px; }
  .topPlan .planBoxWrap .planBox.jihide {
    background-color: #998D67;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .topPlan .planBoxWrap .planBox.jihide .img {
      background: url(/images/img_plan_02.png) center center no-repeat;
      background-size: cover; }
    .topPlan .planBoxWrap .planBox.jihide .ja:before {
      background-size: cover;
      content: '';
      height: 32px;
      width: 52px; }
  .topPlan .planBoxWrap .planBox.jibunmo {
    background-color: #998D67; }
    .topPlan .planBoxWrap .planBox.jibunmo .img {
      background: url(/images/img_plan_03.png) center center no-repeat;
      background-size: cover; }
    .topPlan .planBoxWrap .planBox.jibunmo .ja:before {
      background-size: cover;
      content: '';
      height: 40px;
      width: 51px; }

.topPickup {
  display: none !important;
  background-color: #CCC9AD;
  padding-bottom: 80px;
  position: relative; }
  .topPickup .inr {
    position: relative;
    z-index: 3; }
    .topPickup .inr .topHead {
      padding: 75px 15px 35px; }
    .topPickup .inr ul {
      margin: 0 auto 35px;
      width: 880px; }
      .topPickup .inr ul li {
        line-height: 1.4;
        padding: 10px; }
        .topPickup .inr ul li a {
          display: block;
          text-decoration: none;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          .topPickup .inr ul li a .img {
            display: block;
            height: 270px;
            margin-bottom: 10px;
            width: 270px; }
          .topPickup .inr ul li a .date {
            color: #6c6a59;
            display: block;
            font-size: 12px;
            font-size: 1.2rem;
            margin-bottom: 5px; }
          .topPickup .inr ul li a .txt {
            display: block;
            font-size: 13px;
            font-size: 1.3rem; }
        .topPickup .inr ul li a:hover {
          opacity: 0.8; }
    .topPickup .inr .btn {
      text-align: center; }
  .topPickup #svg-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
    .topPickup #svg-bg svg {
      height: auto;
      width: 100%; }

.topStyle {
  display: none; }

.topSns {
  border-top: 1px solid #EBEBEB;
  padding: 30px 0 60px;
  text-align: center; }
  .topSns .topHead {
    padding-bottom: 35px; }
  .topSns ul li {
    display: inline-block;
    font-family: 'Arial', 'PingFang SC';
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin: 0 40px; }
    .topSns ul li a {
      display: block;
      text-decoration: none; }
      .topSns ul li a .webF {
        background-color: #878665;
        border-radius: 170px;
        color: #FFF;
        display: block;
        font-size: 90px;
        line-height: 1;
        height: 170px;
        margin-bottom: 20px;
        padding-top: 40px;
        -webkit-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
        /* easeOutCubic */
        width: 170px; }
  .topSns ul li:last-child .webF {
    background-color: #697878; }
  .topSns ul li a:hover .webF {
    background-color: #000;
    font-size: 110px;
    padding-top: 30px; }

.youtube {
  margin-top: 65px;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0; }

.youtube iframe {
  width: 100%; }

@media only screen and (max-width: 960px) {
  .topStyle {
    display: none; }
  .topMv {
    height: auto;
    padding: 0;
    margin: 0 auto;
    width: 95%; }
    .topMv .mvArea #mvSlickSp {
      display: block; }
    .topMv .mvArea #mvSlick {
      display: none; }
    .topMv .mvArea article {
      width: auto;
      position: static; }
      .topMv .mvArea article a .img {
        height: 100px;
        width: 100px; }
      .topMv .mvArea article a dl {
        width: calc(100% - 100px); }
        .topMv .mvArea article a dl dt {
          font-size: 10px;
          font-size: 1rem;
          padding: 10px 15px; }
        .topMv .mvArea article a dl dd {
          font-size: 11px;
          font-size: 1.1rem;
          line-height: 1.4;
          padding: 10px 15px; }
      .topMv .mvArea article a:hover {
        -webkit-box-shadow: 0 0 10px #AAA;
        box-shadow: 0 0 10px #AAA; }
    .topMv .mvArea #topMvSns,
    .topMv .mvArea #topMvUtility,
    .topMv .mvArea #topMvScroll {
      display: none; }
    .topMv .mvArea small {
      display: none; }
    .topMv .slick-dotted.slick-slider {
      margin-bottom: 0; }
    .topMv .slick-dots {
      top: -34px; }
      .topMv .slick-dots li {
        width: 10px;
        margin: 0 7px; }
      .topMv .slick-dots li.slick-active button::before {
        font-size: 12px; }
  .topMessage {
    margin: 0 15px;
    padding: 0 0 30px; }
    .topMessage .topMessageInr {
      padding-left: 0; }
      .topMessage .topMessageInr .youCan {
        font-size: 38px;
        font-size: 3.8rem;
        padding: 0 10px 30px 0;
        text-align: right; }
      .topMessage .topMessageInr .dataArea {
        background-color: transparent;
        padding: 0; }
        .topMessage .topMessageInr .dataArea .select {
          font-size: 45px;
          font-size: 4.5rem;
          line-height: 1.1;
          margin: -90px 0 20px 15px;
          position: static; }
          .topMessage .topMessageInr .dataArea .select span {
            font-size: 70px;
            font-size: 6rem;
            letter-spacing: 0.1em; }
        .topMessage .topMessageInr .dataArea .line {
          margin: 15px; }
          .topMessage .topMessageInr .dataArea .line span {
            font-size: 13px;
            font-size: 1.3rem;
            margin-bottom: 5px;
            padding: 7px 12px; }
        .topMessage .topMessageInr .dataArea .desc {
          font-size: 12px;
          font-size: 1.2rem;
          margin: 15px 20px 20px 15px; }
        .topMessage .topMessageInr .dataArea .btn {
          margin: 0 15px;
          position: static; }
          .topMessage .topMessageInr .dataArea .btn img {
            width: 100%; }
      .topMessage .topMessageInr .img {
        margin-bottom: 30px;
        position: static; }
      .topMessage .topMessageInr .messageP {
        display: none; }
  .topHead {
    padding: 35px 15px 30px; }
    .topHead .ja {
      font-size: 14px;
      font-size: 1.4rem; }
    .topHead .en {
      font-size: 55px;
      font-size: 5.5rem;
      padding-top: 10px; }
  .topPlan {
    margin-bottom: 0 !important; }
    .topPlan .planBoxWrap .planBox {
      display: block; }
      .topPlan .planBoxWrap .planBox .img {
        width: auto;
        min-height: 330px; }
      .topPlan .planBoxWrap .planBox .data {
        width: auto;
        display: block;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        min-height: inherit; }
        .topPlan .planBoxWrap .planBox .data .cell {
          display: block;
          padding: 35px 30px;
          height: auto; }
          .topPlan .planBoxWrap .planBox .data .cell h3 {
            line-height: 1.2;
            margin-bottom: 25px;
            text-align: center; }
            .topPlan .planBoxWrap .planBox .data .cell h3 .copy {
              display: block;
              font-size: 14px;
              font-size: 1.4rem;
              letter-spacing: 0.08em;
              margin-bottom: 55px; }
              .topPlan .planBoxWrap .planBox .data .cell h3 .copy span {
                border-bottom: 2px solid #FFF;
                padding-bottom: 4px; }
            .topPlan .planBoxWrap .planBox .data .cell h3 .ja {
              display: block;
              font-size: 58px;
              font-size: 5.8rem; }
            .topPlan .planBoxWrap .planBox .data .cell h3 .ja:before {
              display: block;
              position: absolute;
              top: -20px;
              left: 50%;
              margin-left: -120px; }
            .topPlan .planBoxWrap .planBox .data .cell h3 .en {
              font-size: 22px;
              font-size: 2.2rem; }
          .topPlan .planBoxWrap .planBox .data .cell ul.tag {
            margin: 0 0 20px;
            text-align: center; }
            .topPlan .planBoxWrap .planBox .data .cell ul.tag li {
              border-radius: 50px;
              font-size: 10px;
              font-size: 1rem;
              line-height: 1;
              margin: 0 1% 7px;
              padding: 12px 0 12px;
              width: 47%; }
          .topPlan .planBoxWrap .planBox .data .cell p.desc {
            font-size: 13px;
            font-size: 1.3rem;
            line-height: 2;
            margin-bottom: 30px; }
          .topPlan .planBoxWrap .planBox .data .cell p.btn {
            margin: 0;
            width: auto; }
            .topPlan .planBoxWrap .planBox .data .cell p.btn img {
              height: auto;
              width: 100%;
              max-width: 400px; }
  .topPickup {
    margin-bottom: 0 !important;
    padding-bottom: 40px; }
    .topPickup .inr .topHead {
      padding: 45px 15px 20px; }
    .topPickup .inr ul {
      margin: 0 auto 35px;
      width: auto; }
      .topPickup .inr ul li {
        line-height: 1.4;
        padding: 10px; }
        .topPickup .inr ul li a .img {
          display: block;
          height: 150px;
          margin-bottom: 10px;
          width: 150px; }
        .topPickup .inr ul li a .date {
          font-size: 10px;
          font-size: 1rem; }
        .topPickup .inr ul li a .txt {
          font-size: 11px;
          font-size: 1.1rem; }
    .topPickup .inr .btn {
      margin: 0 30px;
      text-align: center; }
      .topPickup .inr .btn a {
        display: block; }
        .topPickup .inr .btn a img {
          width: 100%; }
  .topSns {
    padding-bottom: 40px; }
    .topSns .topHead {
      padding-bottom: 25px; }
    .topSns ul li {
      display: inline-block;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.08em;
      margin: 0 15px;
      text-align: center; }
      .topSns ul li a {
        display: inline-block;
        text-decoration: none; }
        .topSns ul li a .webF {
          background-color: #878665;
          border-radius: 85px;
          color: #FFF;
          display: block;
          font-size: 45px;
          line-height: 1;
          height: 85px;
          margin: 0 auto 20px;
          padding-top: 20px;
          text-align: center;
          width: 85px; }
    .topSns ul li:last-child .webF {
      background-color: #697878; }
    .topSns ul li a:hover .webF {
      background-color: #000;
      font-size: 45px;
      padding-top: 20px; }
  .youtube iframe {
    height: 300px; } }
